.permissionModal {
    -webkit-animation-name: example;
            animation-name: example;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

@-webkit-keyframes example {
    0% {
        background-color: #fc6262;
    }
    100% {
        background-color: white;
    }
}

@keyframes example {
    0% {
        background-color: #fc6262;
    }
    100% {
        background-color: white;
    }
}
